body{
    background: url("../pc.jpeg") no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}
/* #2{ */
    /* color: black; */
    /* width: 410px; */
        /* background-color: #5B5B5B; */
    /* } */
h1{
    background-color: #5B5B5B;
    width: 410px;
    color:black;
    border: 3px solid #666666;
    /* border-style: ; */
    padding: 10px;
    text-align: center;
    margin:0 auto;
    margin-top: 200px;
    font-family :'Pacifico', cursive;
    border-radius:20px;
    opacity: 0.8;

}
footer{
    /* background : url("../The-Pattern-Farm-Wallpaper-triangle-footer.svg") no-repeat center center fixed ; */
    /* background-color: #5B5B5B; */
    background-size: cover ; 
    text-align: center;
    /* margin:0 auto; */
    /* margin-top: 320px; */
    height: 90px;
    width: 1003px;
    /* padding: 5px; */
    /* padding-top: 5px; */
     margin-top: 245px; 
     color: black;
    /* font-family :'Pacifico', cursive; */

}
i{
    color: brown;
}

